<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzsd.app.driver.dao.DriverDao">
    <!--查询司机列表？-->
    <select id="queryDriverList" parameterType="com.xzsd.app.driver.entity.Driver" resultType="com.xzsd.app.driver.entity.Driver">
        select
            tdriver.driver_code driverCode,
            tdriver.name driverName,
            tdriver.phone driverPhone
        from
            t_store_information tstore,
            t_driver_information_manage tdriver
        where
            tdriver.is_delete = 0
        and
            tstore.shop_code = #{storeCode}
        and
            tstore.provinceCode = tdriver.provinceCode
        and
            tstore.cityCode = tdriver.cityCode
        and
            tstore.distinctCode = tdriver.distinctCode
    </select>
    <!--店长信息查询-->
    <select id="queryStoreDetail" resultType="com.xzsd.app.driver.entity.Store" parameterType="com.xzsd.app.driver.entity.Store">
        select
            tstore.shop_name storeName,
            tstore.shop_detail_address storeAddress,
            tstore.shop_invest_code storeInvitation,
            tuser.user_name userCode,
            tuser.user_image userImageUrl,
            tuser.user_name userName
       from
            t_store_information tstore,
            t_user_infomation tuser
        where
            tstore.is_delete = 0
        and
            tstore.shop_code = #{storeCode}
        and
            tstore.shop_con_user = tuser.user_code
    </select>
    <!--司机详情信息查询-->
    <select id="queryDriverInformationDetail" parameterType="com.xzsd.app.driver.entity.DriverVO" resultType="com.xzsd.app.driver.entity.DriverVO">
        select
           name driverName,
           phone driverPhone,
           driver_image driverImageUrl,
           driver_acc driverNickName
        from
            t_driver_information_manage
        where
            is_delete = 0
        and
            driver_code = #{driverCode}
    </select>
    <!--司机负责运送的区域查询-->
    <select id="queryDriverResponsibleList" parameterType="com.xzsd.app.driver.entity.DriverResponsibleArea" resultType="com.xzsd.app.driver.entity.DriverResponsibleArea" >
        select
            tdriver.provinceCode provinceCode,
            tdriver.cityCode cityCode,
            tdriver.distinctCode distinctCode,
            tstore.shop_detail_address detailAddress,
            tstore.shop_name storeName,
            tstore.shop_code storeCode,
            tuser.user_name userName,
            tuser.user_phone userPhone
        from
            t_store_information tstore,
            t_driver_information_manage tdriver,
            t_user_infomation tuser
        where
            tstore.shop_con_user = tuser.user_code
        and
            tstore.is_delete = 0
        and
            tdriver.provinceCode = tstore.provinceCode
        and
            tdriver.cityCode = tstore.cityCode
        and
            tdriver.distinctCode = tstore.distinctCode
        and
            tdriver.driver_code = #{driverCode}
    </select>
    <!--查询省市区编号对应的省市区名称-->
    <select id="queryPCD" parameterType="com.xzsd.app.driver.entity.DriverResponsibleArea" resultType="com.xzsd.app.driver.entity.AreaName">
        SELECT
            t3.name1 ProvinceName,
            t3.code1,
            t3.name2 cityName,
            t3.code2,
            t4.dict_name distinctName,
            t4.dict_code
        FROM
            (
                SELECT
                        t1.dict_code code1,
                        t1.dict_name name1,
                        t1.dict_parent_node parentcode1,
                        t2.dict_code code2,
                        t2.dict_name name2,
                        t2.dict_parent_node parentcode2
                FROM
                        t_dict t1
                LEFT JOIN t_dict t2 ON
                        t1.dict_code = t2.dict_parent_node
                WHERE
                        t1.dict_parent_node IS NULL
            ) t3
        LEFT JOIN t_dict t4 ON
            t3.code2 = t4.dict_parent_node
        having
            code1 = #{provinceCode} AND code2 = #{cityCode} and dict_code = #{distinctCode}
    </select>
</mapper>