<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzsd.app.homepage.dao.HomePageDao">
    <!--首页轮播图列表查询-->
    <select id="queryRotateChartsList" resultType="com.xzsd.app.homepage.entity.TurnsImage">
        select
            rotaChart_code rotateChartCode,
            rotaChart_sort rotateChartSort,
            rotaChart_image_url rotateChartImageUrl
        from
            t_turns_images
        where
            is_delete = 0
        and
            rotaChart_use_time &lt;= now()
        and
            rotaChart_end_time &gt;= now()
        and
            rotaChart_state = 1
        order by rotaChart_sort asc
    </select>
    <!--轮播图更新，将时间范围不在当前时间的设为删除-->
    <update id="deleteOverdue" parameterType="com.xzsd.app.homepage.entity.TurnsImage">
        update
            t_turns_images
        set
            rotaChart_state = 2,
            update_user = 'sys',
            update_time = now()
        where
            is_delete = 0
        and
            rotaChart_code not in
        <foreach collection="list" index="index" close=")" separator="," open="(" item="item">
            #{item}
        </foreach>
    </update>
    <!--查询热门商品列表-->
    <select id="queryHotGoodsList" resultType="com.xzsd.app.homepage.entity.HotGoods">
         select
            thot.hot_good_code hotGoodCode,
            tgood.good_name hotGoodName,
            tgood.good_image_url hotGoodUrl,
            thot.hot_good_sort hotGoodCSort,
            tgood.good_price hotGoodPric,
            tgood.good_selling_price hotGoodSale
        from
            t_hot_goods_manage thot,
            t_good_manage tgood
        where
            thot.is_delete = 0
        and
            thot.good_code = tgood.good_code
        order by hot_good_sort asc
        limit 0,#{num}
    </select>
    <!--查询展示数量-->
    <select id="queryNum" resultType="int">
        SELECT
            num
        FROM
            t_hot_goods_show_num
        ORDER BY id desc
        LIMIT 0,1
    </select>
</mapper>