<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzsd.app.goodClassification.dao.GoodClassiDao">
    <!--当然也可以通过角色来进行判断是哪种角色要修改密码-->
    <!--修改密码-用户表-->
    <update id="getCinPass" parameterType="com.xzsd.app.passWord.entity.PassWord">
        update
            t_user_infomation
        set
            user_pass = #{cinPass}
        where
            user_code = #{userCode}
        and
            is_delete = 0
        and
            user_pass = #{userPass}
    </update>
    <!--修改密码-司机表-->
    <update id="getCinPassDriver" parameterType="com.xzsd.app.passWord.entity.PassWord">
        update
            t_driver_information_manage
        set
            driver_pass = #{cinPass}
        where
            driver_code = #{userCode}
        and
            is_delete = 0
        and
            driver_pass = #{userPass}
    </update>
</mapper>