<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzsd.app.passWord.dao.PassWordDao">
    <!--查询原来的密码-用户店长表 或者 司机表-->
    <select id="getOrignPass" parameterType="com.xzsd.app.passWord.entity.PassWord" resultType="com.xzsd.app.passWord.entity.PassWord">
        <if test="userRole == 1">
          select
              user.user_pass userTablePass
          from
              t_user_infomation user
          where
              user.is_delete = 0
          and
              user.user_code = #{userCode}
        </if>
        <if test="userRole == 3">
            select
            user.user_pass userTablePass
            from
            t_user_infomation user
            where
            user.is_delete = 0
            and
            user.user_code = #{userCode}
        </if>
        <if test="userRole == 2">
            select
                driver.driver_pass driverTablePass
            from
                t_driver_information_manage driver
            where
                driver.is_delete = 0
            and
                driver.driver_code = #{userCode}
        </if>
    </select>
    <!--更新密码-->
    <update id="updatePassWord" parameterType="com.xzsd.app.passWord.entity.PassWord">
        <if test="userRole == 1 or userRole == 3">
            update
                t_user_infomation
            set
                user_pass = #{cinPass}
            where
                user_code = #{userCode}
            and
                is_delete = 0
        </if>
        <if test="userRole == 2">
            update
               t_driver_information_manage
            set
                driver_pass = #{cinPass}
            where
                driver_code = #{userCode}
            and
               is_delete = 0
        </if>
    </update>
    <!--查询用户信息-->
    <select id="queryCurrUser" parameterType="com.xzsd.app.passWord.entity.User" resultType="com.xzsd.app.passWord.entity.User">
        select
            user_code userCode,
            user_role userRole
        from
            t_user_infomation
        where
            user_code = #{userCode}
        and
            is_delete = 0
    </select>
    <!--查询司机信息-->
    <select id="queryCurrDriver" parameterType="com.xzsd.app.passWord.entity.User" resultType="com.xzsd.app.passWord.entity.User">
        select
            driver_code userCode
        from
            t_driver_information_manage
        where
            driver_code = #{userCode}
        and
            is_delete = 0
    </select>
</mapper>