<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzsd.app.register.dao.RegisterDao">
        <!--新增用户  Role 3-->
    <insert id="addRegister" parameterType="com.xzsd.app.register.entity.Register">
        INSERT
            INTO
              `t_user_infomation`(
                `user_code`,
                `user_name`,
                `user_account`,
                `user_pass`,
                `user_id_card`,
                `user_sex`,
                `user_role`,
                `user_phone`,
                `user_integral`,
                `user_email`,
                `is_delete`,
                `create_time`,
                `create_user`,
                `version`,
                `user_image`
              )
            VALUES(
              #{userCode},
              #{userName},
              #{userAcc},
              #{userPass},
              #{userIdCard},
              CAST(#{userSex} AS SIGNED),
              #{role},
              #{userPhone},
              0,
              #{userEmail},
              0,
              now(),
              #{userCode},
              0,
              #{imagrUrl}
              )
    </insert>
  <!--判断重复-->
  <select id="countActOrPhone" parameterType="com.xzsd.app.register.entity.Register" resultType="int">
      select
          count(*)
      from
          t_user_infomation
      where
          is_delete = 0
        <if test="userAcc != null and userAcc !=''">
            and  user_account = #{userAcc}
        </if>
        <if test="userPhone != null and userPhone !=''">
            and  user_phone = #{userPhone}
        </if>
      </select>
    <!--用户 店长 信息获取-->
    <select id="getUserInfo" parameterType="com.xzsd.app.register.entity.UserInfo" resultType="com.xzsd.app.register.entity.UserInfo">
      select
        tuser.user_code userCode,
        tuser.user_account userAcc,
        tuser.user_role userRole,
        tuser.user_image userImageUrl,
        tuser.user_name userName,
        tuser.user_phone userPhone,
        tuser.user_sex userSex,
        tuser.user_id_card IdCard,
        tuser.user_email email
      from
        t_user_infomation tuser
      where
        tuser.user_code = #{userCode}
      and
        tuser.is_delete = 0
    </select>
    <!--司机 信息获取-->
    <select id="getDriverInfo" parameterType="com.xzsd.app.register.entity.UserInfo" resultType="com.xzsd.app.register.entity.UserInfo">
      select
        driver_code userCode,
        driver_acc userAcc,
        driver_image userImageUrl,
        name userName,
        phone userPhone
      from
        t_driver_information_manage
      where
        driver_code = #{userCode}
      and
        is_delete = 0
    </select>
  <!--查询店长编号  第一个店铺   店长只能绑定一个店铺-->
  <select id="getStoreCode" parameterType="com.xzsd.app.register.entity.UserInfo" resultType="java.lang.String">
      select
          shop_code
      from
          t_store_information
      where
          is_delete = 0
      and
          shop_con_user = #{userCode}
      limit 0,1
  </select>
    <!--修改用户的信息-->
    <update id="updateUserInfo" parameterType="com.xzsd.app.register.entity.UserInfo" >
        update
            t_user_infomation
        set
            user_sex = #{userSex},
            <if test="userImageUrl != null and userImageUrl != ''">
                user_image = #{userImageUrl},
            </if>
            <if test="userPhone != null and userPhone != ''">
                user_phone = #{userPhone},
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="IdCard != null and IdCard != ''">
                user_id_card = #{IdCard},
            </if>
            <if test="email != null and email != ''">
                user_email = #{email}
            </if>
        where
            user_code = #{userCode}
        and
            is_delete = 0
    </update>
</mapper>