<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzsd.app.register.dao.RegisterDao">
        <!--新增用户  Role 2-->
    <insert id="addRegister" parameterType="com.xzsd.app.register.entity.Register">
        INSERT
            INTO
              `t_user_infomation`(
                `user_code`,
                `user_name`,
                `user_account`,
                `user_pass`,
                `user_id_card`,
                `user_sex`,
                `user_role`,
                `user_phone`,
                `user_integral`,
                `user_email`,
                `is_delete`,
                `create_time`,
                `create_user`,
                `version`
              )
            VALUES(
              #{userCode},
              #{userName},
              #{userAcc},
              #{userPass},
              #{userIdCard},
              CAST(#{userSex} AS SIGNED),
              2,
              #{userPhone},
              0,
              #{userEmail},
              0,
              now(),
              #{userCode},
              0
              )
    </insert>
  <!--判断重复-->
  <select id="countActOrPhone" parameterType="com.xzsd.app.register.entity.Register" resultType="int">
      select
          count(*)
      from
          t_user_infomation
      where
          is_delete = 0
          <if test="userAcc != null and userAcc !=''">
            and  user_account = #{userAcc}
          </if>
        <if test="userPhone != null and userPhone !=''">
            and  user_phone = #{userPhone}
        </if>
      </select>
</mapper>