<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzsd.app.store.dao.StoreDao">
    <!--店长更新订单状态-->
    <update id="updateShopOwnerOrderState" parameterType="com.xzsd.app.store.entity.OrderUpdate">
        update
            t_order_manage
        set
            order_state = #{orderState},
            update_time = now(),
            update_user =  #{updateUser}
        where
            is_delete = 0
        and
            order_code = #{orderCode}
    </update>
    <!--店长订单列表查询-->
    <select id="queryshopOwnerOrderList" parameterType="com.xzsd.app.store.entity.StoreOrderListParam" resultMap="queryStoreOrderList">
           select
              torder.order_code orderCode,
              torder.order_state orderState,
              tuser.user_name userName,
              tuser.user_phone userPhone
          from
              t_order_manage torder,
              t_store_bind tbind,
              t_store_information tstore,
              t_user_infomation tuser
          where
              torder.is_delete = 0
          and
              tstore.shop_con_user = #{userCode}
          and
              tbind.shop_code = tstore.shop_code
          and
              torder.user_code = tbind.user_code
          and
              torder.user_code = tuser.user_code
          order by torder.create_time desc
    </select>
    <!--查询用户订单列表详情-->
    <select id="queryStoreOrderListListUnit" parameterType="com.xzsd.app.store.entity.StoreOrderListParam" resultType="com.xzsd.app.store.entity.StoreOrderListUnit">
            select
              torderg.good_code goodCode,
              torderg.orderG_name goodName,
              torderg.orderG_s_price goodSale,
              torderg.orderG_num goodNum,
              torderg.orderG_image goodImage,
              tgood.good_prec goodPrec
          from
              t_order_ordergoods torderg,
              t_good_manage tgood
          where
              torderg.order_code = #{orderCode}
          and
              torderg.is_delete = 0
          and
              tgood.good_code = torderg.good_code
    </select>
    <!--店长订单列表查询ResultMap-->
    <resultMap id="queryStoreOrderList" type="com.xzsd.app.store.entity.StoreOrderList">
        <collection property="orderGoodList" javaType="list"  column="orderCode=orderCode"  select="queryStoreOrderListListUnit" ofType="com.xzsd.app.store.entity.StoreOrderListUnit">
        </collection>
    </resultMap>
    <!--订单详情查询-->
    <select id="queryshopOwnerOrderDetail" parameterType="com.xzsd.app.store.entity.OrderDetail" resultMap="queryStoreOrderDetail">
          select
              torder.order_code          orderCode,
              tstore.provinceCode        provinceCode,
              tstore.cityCode            cityCode,
              tstore.distinctCode        distinctCode,
              tstore.shop_detail_address deliveryAddress,
              tstore.shop_name           deliveryStore,
              torder.create_time         orderCreateTime,
              torder.order_state         orderState,
              tuser.user_name            userName,
              tuser.user_phone           userPhone
          from
              t_order_manage torder,
              t_user_infomation tuser,
              t_store_information tstore,
			  t_store_bind tbind
         where
              torder.order_code = #{orderCode}
        and
              torder.is_delete = 0
        and
              tbind.shop_code = tstore.shop_code
        AND
              tbind.user_code = torder.user_code
        and
              torder.user_code = tuser.user_code
    </select>
    <!--订单商品详情列表-->
    <select id="goodDetailList" parameterType="com.xzsd.app.store.entity.OrderDetail" resultType="com.xzsd.app.store.entity.OrderDetailGood">
          select
             torderG.good_code goodCode,
             torderG.orderG_name goodName,
             torderG.orderG_s_price goodSale,
             tgood.good_prec goodPrec,
             torderG.orderG_num goodNum,
             torderG.orderG_image goodImage
          from
              t_order_ordergoods torderG,
              t_good_manage tgood
          where
              torderG.order_code = #{orderCode}
          and
              torderG.good_code = tgood.good_code
          and
              torderG.is_delete = 0
    </select>
    <!--订单详情映射-->
    <resultMap id="queryStoreOrderDetail" type="com.xzsd.app.store.entity.OrderDetail">
        <collection property="orderGoodsList" javaType="list"  column="orderCode=orderCode"  select="goodDetailList" ofType="com.xzsd.app.store.entity.OrderDetailGood">
        </collection>
    </resultMap>
    <!--查询省市区编号对应的省市区名称-->
    <select id="queryPCD" parameterType="com.xzsd.app.store.entity.OrderDetail" resultType="com.xzsd.app.driver.entity.AreaName">
        SELECT
            t3.name1 ProvinceName,
            t3.code1,
            t3.name2 cityName,
            t3.code2,
            t4.dict_name distinctName,
            t4.dict_code
        FROM
            (
                SELECT
                        t1.dict_code code1,
                        t1.dict_name name1,
                        t1.dict_parent_node parentcode1,
                        t2.dict_code code2,
                        t2.dict_name name2,
                        t2.dict_parent_node parentcode2
                FROM
                        t_dict t1
                LEFT JOIN t_dict t2 ON
                        t1.dict_code = t2.dict_parent_node
                WHERE
                        t1.dict_parent_node IS NULL
            ) t3
        LEFT JOIN t_dict t4 ON
            t3.code2 = t4.dict_parent_node
        having
            code1 = #{provinceCode} AND code2 = #{cityCode} and dict_code = #{distinctCode}
    </select>
</mapper>