<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.comment.dao.CommentDao">
    <!--删除商品-->
    <update id="deleteComments" parameterType="com.xzsd.pc.comment.entity.Comment">
        update
           t_goods_goodseva
        set
           is_delete = 1,
           update_user=#{userCode},
           update_time = now()
        where
          is_delete = 0
        and
          comment_code in
          <foreach collection="listCode" index="index" item="item" open="(" close=")" separator=",">
               #{item}
          </foreach>
    </update>
    <!--商品列表查询-->
    <select id="listComments" parameterType="com.xzsd.pc.comment.entity.Comment" resultType="com.xzsd.pc.comment.entity.Comment">
        select
            t_goods_goodseva.comment_code evaCode,
            t_user_infomation.user_name userCode,
            t_goods_goodseva.comment_content evaContent,
            t_goods_goodseva.comment_rank evaRank,
            t_goods_goodseva.comment_time evaTime,
            t_good_manage.good_name evaGoods,
            t_goods_goodseva.is_judge is_judge
        from
            t_goods_goodseva,
            t_good_manage,
            t_user_infomation
        where
            t_goods_goodseva.is_delete = 0
        and
            t_good_manage.good_code = t_goods_goodseva.comment_good
        and
            t_user_infomation.user_code  = t_goods_goodseva.user_code
            <if test="evaCode != null and evaCode != ''">
                and t_goods_goodseva.comment_code like concat('%', #{evaCode}, '%')
            </if>
            <if test="userCode != null and userCode != ''">
                and t_user_infomation.user_name like concat('%', #{userCode}, '%')
            </if>
            <if test="evaContent != null and evaContent != ''">
                and t_goods_goodseva.comment_content like concat('%', #{evaContent}, '%')
            </if>
            <if test="evaGoods != null and evaGoods != ''">
                and t_goods_goodseva.comment_good like concat('%', #{evaGoods}, '%')
            </if>
            <if test="timeEnd != null and timeEnd != ''">
                and t_goods_goodseva.comment_time &lt; #{timeEnd}
            </if>
            <if test="timeStart != null and timeStart != ''">
                and t_goods_goodseva.comment_time &gt;= #{timeStart}
            </if>
        order by t_goods_goodseva.comment_time desc
    </select>

</mapper>
