<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.customer.dao.CustomerDao">
    <!--客户列表查询-->
    <select id="queryCustomer" parameterType="com.xzsd.pc.customer.entity.Customer"
            resultType="com.xzsd.pc.customer.entity.Customer">
      select
        tcustomer.customer_code customerCode,
        tcustomer.customer_name customerName,
        tcustomer.customer_acct customerAcc,
        tcustomer.customer_sex customerSex,
        tcustomer.customer_phone customerPhone,
        tcustomer.customer_email customerEmail,
        tcustomer.customer_id_card customerIdCard
      from
          t_order_customer tcustomer,
          t_store_information tstore
      where
          tcustomer.is_delete = 0
      <if test="customerName != null and customerName != ''">
          and tcustomer.customer_name like  concat('%',#{customerName},'%')
      </if>
      <if test="customerAcc != null and customerAcc != ''">
          and tcustomer.customer_acct like  concat('%',#{customerAcc},'%')
      </if>
      <if test="userRole == 1">
          and tcustomer.shop_code = tstore.shop_code
          and tstore.shop_con_user = #{userCode}
      </if>
    </select>
    <!--查询用户信息-->
    <select id="queryCurrUser" parameterType="com.xzsd.pc.customer.entity.User" resultType="com.xzsd.pc.customer.entity.User">
        select
            user_code userCode,
            user_role userRole
        from
            t_user_infomation
        where
            user_code = #{userCode}
    </select>
</mapper>