<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.customer.dao.CustomerDao">
    <!--客户列表查询-->
    <select id="queryCustomer" parameterType="com.xzsd.pc.customer.entity.Customer"
            resultType="com.xzsd.pc.customer.entity.CustomerOut">
      select
        tcustomer.user_code customerCode,
        tcustomer.user_name customerName,
        tcustomer.user_account customerAcc,
        tcustomer.user_sex customerSex,
        tcustomer.user_phone customerPhone,
        tcustomer.user_email customerEmail,
        tcustomer.user_id_card customerIdCard
      from
        t_user_infomation tcustomer
        <if test="userRole == 1">
            ,t_store_information tstore,
            t_store_bind tbind
        </if>
      where
          tcustomer.is_delete = 0
      and
          tcustomer.user_role = 3
      <if test="customerName != null and customerName != ''">
          and tcustomer.user_name like  concat('%',#{customerName},'%')
      </if>
      <if test="customerAcc != null and customerAcc != ''">
          and tcustomer.user_account like  concat('%',#{customerAcc},'%')
      </if>
      <if test="userRole == 1">
          and tstore.shop_con_user = #{userCode}
          and tstore.shop_invest_code = tbind.bind_inverst_code
          and tbind.user_code = tcustomer.user_code
       </if>
    </select>
    <!--查询用户信息-->
    <select id="queryCurrUser" parameterType="com.xzsd.pc.customer.entity.User" resultType="com.xzsd.pc.customer.entity.User">
        select
            user_code userCode,
            user_role userRole
        from
            t_user_infomation
        where
            user_account = #{userCode}
        and
            is_delete = 0
    </select>
</mapper>