<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.rotaChart.dao.RotaChartDao">
    <!--轮播图新增-->
    <insert id="addRotaChart" parameterType="com.xzsd.pc.rotaChart.entity.RotaChart">
         INSERT INTO
          `t_turns_images`(
            `rotaChart_code`,
            `rotaChart_state`,
            `rotaChart_title`,
            `rotaChart_sort`,
            `rotaChart_addition_pre`,
            `rotaChart_use_time`,
            `rotaChart_end_time`,
            `rotaChart_point_good`,
            `create_time`,
            `create_user`,
            `update_time`,
            `update_user`,
            `is_delete`,
            `version`,
            `rotaChart_image_url`
              )
        VALUES
         (
            #{rotaChartCode},
            #{rotaChartState},
            #{rotaChartTitle},
            #{rotaChartSort},
            #{rotaChartAdditionPre},
            #{rotaChartStartTime},
            #{rotaChartEndTime},
            #{goodCode},
            now(),
            #{createUser},
            '',
            '',
            0,
            0,
            #{rotaChartImageUrl}
            )
    </insert>
    <!--轮播图批量删除-->
    <update id="deleteRotaChart" parameterType="com.xzsd.pc.rotaChart.entity.RotaChart">
          update
              t_turns_images
          set
                is_delete = 1,
                update_user = #{update_user},
                update_time = now()
          where
              rotaChart_code in
          <foreach collection="listRotaChartCodes" index="index" open="(" close=")" separator="," item="item">
                #{item}
          </foreach>
    </update>
    <!--轮播图查询是否重复, 在修改轮播图时候，需要排除他自己-->
    <select id="countRepeat" parameterType="com.xzsd.pc.rotaChart.entity.RotaChart" resultType="int">
        select
        count(*)
        from
        t_turns_images
        where
        is_delete = 0
        and
        (
        rotaChart_sort = #{rotaChartSort}
        or
        rotaChart_point_good = #{goodCode}
        )
        and
        now() between rotaChart_use_time and rotaChart_end_time
        <if test="rotaChartCode != null and rotaChartCode != ''">
            and rotaChart_code != #{rotaChartCode}
        </if>
    </select>
    <!--轮播图列表查询-->
    <select id="queryRotaChartList" parameterType="com.xzsd.pc.rotaChart.entity.RotaChart" resultType="com.xzsd.pc.rotaChart.entity.RotaChart">
          select
              rotaChart_sort rotaChartSort,
              rotaChart_code rotaChartCode,
              rotaChart_title rotaChartTitle,
              rotaChart_state rotaChartState,
              rotaChart_use_time rotaChartStartTime,
              rotaChart_end_time rotaChartEndTime
          from
              t_turns_images
          where
              is_delete = 0
        <if test="rotaChartState != null and rotaChartState !=''">
             and  rotaChart_state = #{rotaChartState}
        </if>
        order by rotaChart_sort desc
    </select>
    <!--轮播图新增之 商品编号列表查询-->
    <select id="querylistGoods2" parameterType="com.xzsd.pc.goods.entity.Good" resultType="com.xzsd.pc.goods.entity.Good">
        select
            good_code,
            good_name,
            good_saleNum,
            good_second_clas,
            good_state
        from
            t_good_manage
        where
            is_delete = 0
        and
            good_state = 1
        <if test="goodName !=null and goodName !=''">
            and good_name like concat('%',#{goodName},'%')
        </if>
        <if test="goodCode !=null and goodCode !=''">
            and good_code like concat('%',#{goodCode},'%')
        </if>
    </select>
    <!--轮播图启用禁用修改-->
    <update id="updateRotaChartState" parameterType="com.xzsd.pc.rotaChart.entity.RotaChart" >
        update
        t_turns_images
        set
        rotaChart_state = #{rotaChartState}
        where
        rotaChart_code in
        <foreach collection="list" index="index" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>
</mapper>